# OS
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

!.gitignore
*~

# IDE
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# VS
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore
/.hg/*
*/.hg/*
.hgignore

# Prestashop
tools/smarty/cache/*
tools/smarty/compile/*
tools/smarty_v2/compile/*
